* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.debug {
  background-color: pink;
}
.debug .conteiner {
  width: 1170px;
  margin: 0 auto;
}
.conteiner {
  border: 2px solid green;
  height: 300px;
}
